@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
  margin: 0;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-top: 40px;
}

.grid-child {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3 {
  font-weight: 700;
}

.grid-child p {
  font-weight: 500;
  font-size: 15px;
}

.massenger-logo {
  box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  right: 0;
  width: -webkit-fill-available;
  background: white;
  font-family: "Noto Sans Arabic", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.send-area {
  background-color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 2000;
  bottom: 0;
  box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  right: 0;
  width: -webkit-fill-available;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  outline: none;
  box-shadow: 0 0 0 2px #e6ebf0;
  resize: none;
  overflow: auto;
  width: 70vw;
}

.action-btn {
  background-color: white;
  border: 2px solid #4184f3;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  height: 25px;
}

.result-text-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.result-text {
  font-size: 25px;
  line-height: 2.5rem;
  background: #9ab7f5;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 110px;
}
